@font-face {
    font-family: "TH3 MACHINE";
    src: url(../font/TH3\ MACHINE.ttf);
}

body {
    color: #000;
    overflow-x: hidden;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(36, 36, 36);
    z-index: 99;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    transform: translate(50vw, 50vh)
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: "TH3 MACHINE";
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-size: 6vw;
}

h1.my-projects {
    font-family: 'Roboto';
    color: rgba(250, 50, 0, 0.8);
    font-weight: 900;
    font-size: 70px;
    font-size: 6vw;
    text-shadow: 1px 2px 3px rgb(234, 238, 13), -2px 3px 1px #000;
}

h2 {
    font-family: "TH3 MACHINE";
    font-size: 3vw;
    color: rgb(116, 233, 6);
    text-shadow: 1px 2px 3px rgb(0, 0, 0), -2px 3px 1px #000;
}

.effect-shine {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.effect-shine2 {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine2 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

@-webkit-keyframes shine2 {
    from {
        -webkit-mask-position: -150%;
    }
    to {
        -webkit-mask-position: 50%;
    }
}

/**welcome screen**/

.section-header {
    padding-top: 40vh;
}

/**nav**/

.top-nav-collapse {
    background-color: rgba(0, 0, 0, 0.548);
}

.active {
    font-weight: 800;
}

.nav-link {
    text-shadow: 1px 2px 3px rgb(0, 0, 0), -2px 3px 1px #000;
}

/**backgrounds**/

.bg-1,
.bg-2,
.bg-3,
.bg-4 {
    height: 100vh;
    background-color: #000;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/**These placholder images should be replaced with your own images**/

.bg-1 {
    background-image: url(../img/background1.jpg);
}

.bg-2 {
    background-image: url(../img/background2.jpg);
}

.bg-3 {
    height: 200vh;
    background-image: url(../img/background3.jpg);
}

.bg-4 {
    background-image: url(../img/background4.jpg);
}

.divider {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: #000;
}

section {
    height: 425px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
    color: #FFF;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    color: #efefef;
}