@media (max-width:992px) {
    section {
        text-align: center;
        height: 100vh;
        background-color: white;
    }
    #zdjecie1 {
        overflow: hidden;
        background-image: url(img/man-1.jpg);
        background-attachment: local;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 50%;
        width: auto;
    }
    
    #napis {
        padding-top: 5%;
        box-sizing: border-box;
        margin-top: 0px;
        background-color: white;
        width: auto;
        height: 50%;
    }
    .words {
        color: black;
    }
}
@media (min-width:993px) and (max-width:1170px)
@media (min-width:1171px)