html{
    margin:15% auto;
    text-align: center;
    font-size: 30px;
    color: rebeccapurple;
}
.error {
    background-color: red;
    color: red;
}
.background {
    background-color: rgba(136, 207, 255, 0.514)
}
input.content {
    background-color:  #d9edf7;
    width: 30vw;
    box-sizing: border-box;
    display: inline-block;
}
li.borderless {
    border: none;
    background-color: inherit;
}
#kontener {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px #000 solid;
}
#kontener .box {
    width: 100px;
    height: 100px;
    margin: 30px 0 0 20px;
    background-color: #FF5400;
}
#kontener .box #hidden {
    display: none;
}
.link {
    text-decoration: none;
}
.green {
    color: rgb(0, 255, 0);
}
.red {
    color: red;
}