
body {
background-color: #213b50;
font-family: sans-serif;
color:white

}
form {
width: 200px;
box-sizing: content-box
}
input:empty {
    background-color: #2b4a64;
    border: none;
}
input:focus {
    background-color: #4e708c;
    border: 1px;
    border-color: white
}
input:textarea {
    background-color: #4e708c;
    border: none;
}

textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    background-color:#4e708c;
}
textarea:empty {
    background-color:#2b4a64;
}
